[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "pelican_themes/attila"]
	path = pelican_themes/attila
	url = https://github.com/msvalina/attila.git